html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
html, body {
    height: 100%;
    margin: 0;
    text-align: center;
}

body {
    background: #52BAAF;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.card {
    margin-bottom: 25px;
    color: black;
}

.card-title{
    margin-bottom: 1.75rem;
}

.main {
    padding-top: 1em;
    text-align: center;
    min-width: 100%;
    align-self: center;
    padding-bottom: 3em;
    background-color: #293B4D;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
}

h1 {
    font-size: 3em;
    letter-spacing: 2px;
}

h2 {
    font-size: 2em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 100px;
}

form {
    display: inline-block;
    border-radius: 5px;
    background: #52BAAF
}

.lastConnections table {
    margin: 0 auto;
}

.lastConnections table tr td {
    text-align: right;
}

.hostList {
    border-bottom: 3px solid;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.hostList::after {
    text-decoration: none;
}

.hostUp {
    border-bottom-color: #50ff3b;
}

.hostDown {
    border-bottom-color: #ff5c5c;
}

.response_code {
    border: 1px dotted white;
    color: #50ff3b;
}
.response_warn {
    color: #ffc107;
}
.response_code:hover {
    text-decoration: none !important;
    border: 1px solid white;
    background-color: white;
    color: black !important;
}

#host {
    padding: 9px;
    width: 250px;
    height: 30px;
    border: 0px;
    padding-right: 5px;
    color: black;
    letter-spacing: 1.2px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#host:focus {
    border-color: yellow;
}

#check {
    height: 48px;
    margin-left: -4px;
    padding: 5px 15px;
    background: #52BAAF;
    border: 0 none;
    align-self: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid #52BAAF;
    font-size: 1.2em;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
}

#check:hover {
    background-color: #217970;
    box-shadow: 2px 2px 1px rgb(13, 20, 27);
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #293B4D;
    margin-top: 15px;
}

a:hover {
    text-decoration: none !important;
}

footer a {
    color: white;
    font-family: monospace;
    border-bottom: 1px dotted white;
}

footer a:hover {
    border-bottom: 1px solid white;
    color: white;
    font-weight: bold;
}

.card a {
    color: black;
    border-bottom: 1px dotted black;
}

.card-text a:hover {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.about div {
    padding: 10px 10px;
    padding-top: 0px;
}


.about ul {
    text-align: justify;
    padding: 0 0;
}

.about ul li {
    list-style-position: inside;
    text-align: center;
}

code {
    background-color: rgba(255, 255, 0, 0.15);
    word-wrap: break-word;
}


@media only screen and (max-width: 1024px) {
    .flex-row {
        display: block;
    }
}

.card ul li {
    padding-bottom: 20px;
}
.card-body {
    margin-bottom: 1rem;
}

.checktime {
    display: inline-block;
    margin-top: 2px;
    font-size: 0.8em;
}

p, li {
    font-size: 1.1em;
}

form {
    display: inline-flex;
}

#host {
    height: auto;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 512px) {
    code {
        font-size: 0.8em;
    }

    #host {
        padding: 9px;
        width: 200px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    body {

    }

    code {
        font-size: 0.6em;
    }

    h1 {
        font-size: 2em;
        letter-spacing: 2px;
    }

    h2 {
        font-size: 1.5em;
        font-weight: 100;
    }

    #host {
        padding: 9px;
        width: 150px;
    }

    .card {
        width: 70%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
