/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
     height: 100%;
     margin: 0;
     text-align: center;
   }


body {
  background: #52BAAF;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.container{
  padding-top: 1em;
  text-align:center;
  min-width: 100%;
  align-self:center;
  background-color: #27ae60 /*rgba(255,255,255,0.8);*/
  flex: 1 0 auto;
  padding-bottom:3em;
  background-color:#293B4D;

}
.title{
  font-size: 3em;
  letter-spacing: 2px;
}

.title input{
  text-align: center;
}

#host {
    padding:5px;
    max-width: 20%;
    border:2px solid #52BAAF;
    border-top:4px solid #52BAAF;
    border-bottom: 4px solid #52BAAF;
    border-left: 4px  solid #52BAAF;
    border-top-left-radius: 5px;
    align-self:center;
    border-bottom-left-radius: 5px;
    width: 200px;
    height: 30px;
    padding-right: 50px;
    color:black;
    letter-spacing: 1.2px;
}
#host:focus{
    border-color: yellow;
}

#check {
  height: 48px;
  margin-left:-4px;
  padding:5px 15px;
  background:#52BAAF;
  border:0 none;
  align-self:center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid #52BAAF;
  font-size: 1.2em;
}

.h3{
  font-size: 2em;
}

.siteUp{

}
.siteDown{

}

footer {
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1 0 auto;

}

.about {
  flex: 1 0 auto;
  width: 70%;
  align-self: center;
  margin-top:20px;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(20%)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
