.row{
  margin:0px;
}
.flex-row {
        display: -webkit-box;
        flex-wrap: wrap;
    }
    .flex-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after,
    .flex-row.row:before {
        display: flex;
    }
    @media only screen and (max-width: 1024px) {
      .flex-row{
        display:block;
      }
    }

.card{
  width:100%;
  margin:auto;
  margin-top: 30px;
  flex: 1 0 auto;
}

.card:not(.cline){
  margin-bottom:15px;
}

.card ul li, .hostList{
  font-size: 2.5vmin;
  margin-bottom:20px;
}

.lastConnections table, .about div {
  margin: 40px auto 0px auto;
}
.about div{
  margin-top:80px;
}
.cline p, .features p{
  margin-top:55px;
}

td{
  word-break: break-all;
}

td a{
  display: block;
}

.checktime{
  display:inline-block;
  margin-top: 2px;
  font-size:2vmin;
}

p{
  font-size: 2.5vmin;
}

form{
  display:inline-flex;
}

#host{
height: auto;
}
